* {
    caret-color: transparent;
    user-select: none;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none; 
}

#catch-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
}

#catchphrase {
    position: relative;
    top: -1.5vh;
    font-family: 'Reenie Beanie', cursive;
    color: grey;
}

#contactform {
    color: grey;
    font-family: monospace;
    font-size: 2.5vh;
    position: absolute;
    top: 20vh;
    left: 10vh;
}

.left {
    color: rgb(190, 190, 190);
    text-align: right;
}
#contactform2 {
    color: grey;
    font-family: monospace;
    font-size: 2.5vh;
    position: absolute;
    top: 20vh;
    left: 72vw;
}

.left2 {
    color: rgb(190, 190, 190);
    text-align: right;
}

img {
    height: 170px;
}
#logo {
    height: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container100 {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container89 {
    background-position: 50% 50%;
    background-image: url("https://learn.g2.com/hubfs/iStock-685053710.jpg");
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container89a {
    background-position: 50% 30%;
    background-image: url("http://cdn.cnn.com/cnnnext/dam/assets/220905135356-03-manas-bhatia-future-cities-ai.jpg");
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container89aa {
    background-position: 50% 50%;
    background-image: url("http://cdn.cnn.com/cnnnext/dam/assets/220905135356-03-manas-bhatia-future-cities-ai.jpg");
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container89b {
    background-position: 50% 40%;
    background-image: url("https://bonestructure.ca/wp-content/uploads/2016/04/85_arriere_light-1030x773.jpg");
    background-size: cover;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container90 {
    background-color: transparent;
    height: 20vh;
      display: grid;
    grid-template-columns: repeat(10, 1fr);
    font-family: Arial, Helvetica, sans-serif;
    height: 5rem;
  
}

#testimonial {
    display: flex;
    justify-content: center;
    align-items: center;
}
#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 20vh;
    background: linear-gradient(rgb(221, 221, 221), rgb(247, 247, 247));
}

#banner2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 20vh;
    background: linear-gradient(rgb(221, 221, 221), rgb(247, 247, 247));
}

#r1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 4vh;
    font-weight: bold;
    color: rgb(116, 116, 116);
    display: flex;
    justify-content: center;
    align-items: center;
}
#r2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 3vh;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

#button {
    border-radius: 50%;
    position: fixed;
    left: 85vw;
    top: 75vh;
    width: 15vh;
    height: 15vh;
    background-color: rgb(207, 207, 207);
    color: black;
    font-size: larger;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
#button:hover {
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2);
}

#one {display: flex;font-family: 'Bebas Neue'; font-size:3vh;  width:10rem; justify-content: center; align-items: center; grid-column: 2 / span 2; background-color: rgb(231, 231, 231); text-align: center; border-radius: 10px;margin: 10px;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);transition: 0.3s;}
#one:hover {
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2);
  }
#two {display: flex;font-family: 'Bebas Neue'; font-size:3vh; width:10rem; justify-content: center; align-items: center; grid-column: 4 / span 2; background-color: rgb(231, 231, 231); text-align: center;border-radius: 10px;margin: 10px;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);transition: 0.3s;}
#two:hover {
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2);
  }
#three {display: flex;font-family: 'Bebas Neue'; font-size:3vh; width:10rem; justify-content: center; align-items: center; grid-column: 6 / span 2; background-color: rgb(231, 231, 231); text-align: center;border-radius: 10px;margin: 10px;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);transition: 0.3s;}
#three:hover {
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2);
  }
#four {display: flex;font-family: 'Bebas Neue'; font-size:3vh; width:10rem; justify-content: center; align-items: center; grid-column: 8 / span 2; background-color: rgb(231, 231, 231); text-align: center;border-radius: 10px;margin: 10px;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);transition: 0.3s;}
#four:hover {
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2);
  }


.card {
    margin: 20px;
    width: 300px;
    border-radius: 5px;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
    margin: 10px;font-family: arial;
    color: rgb(66, 66, 66);
  }

  #container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-left: 10px;
  }
